 h2{
    position: relative;
    margin: 0px;
    font-size: 100px;
   font-weight: 900;
    z-index: 1;
    overflow: hidden;
  padding-top: 50px;
  padding-left: 300px;
  }
    h2::before{
      content: '';
      position: absolute;
      left: 120%;
      width: 120%;
      height: 100%;
      background: linear-gradient(90deg, transparent 0%,rgb(9, 63, 179) 5%,#000);
      animation: animate 5.5s forwards infinite;
    }

      @keyframes animate {

         0%{
           left:120%;
         }
           100%{
             left:-20%;
           }
        
      
    }
      h2 span{
        color: rgb(25, 80, 197);
      }